body{
    background: url(./images/geography.jpg) no-repeat center / cover ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
@media (max-width: 768px){
    body{
        justify-content: center;
        align-items: center;
    }
}

.header{
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
}
@media (max-width: 768px){
    .header{
        height: 4rem;
        width: 80%;
        
    }
}
@media (max-width: 768px){
    h1{
        font-size: small;
    }
}
strong{
    color: lime;
    text-shadow: 3px 4px 10px rgba(0,0,0);
}

.main{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20rem;
    width: 50rem;
    background: url(./images/globe.jpg) center /cover no-repeat ;
    gap:2rem;
}
@media (max-width: 768px){
    .main{
        height: 10rem;
        width:30rem;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}
label{
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
}
@media (max-width: 768px){
    label{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.in-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
input{
    height: 2rem;
    width: 15rem;
    border-radius: 0.25rem;
    padding-left: 1rem;
    outline: none;
    background-color: white;
    cursor: not-allowed;
}
@media (max-width: 768px){
    input{
        height: 1.55rem;
        outline: black;
        border: 1px solid black;
        font-size: small;
        font-family: monospace;
    }
}
button{
    height: 2.45rem;
    width: 12rem;
    border: none;
    font-size: larger;
    color: white;
    font-family: monospace;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: url(./images/globe.jpg) top center /cover no-repeat;
    border-radius: 12px;
    cursor: pointer; 
    transition: transform 0.2s ease-in;
}
@media (max-width: 768px){
    button{
        height: 1.45rem;
        border-radius: 8px;
        width: 8rem;
        font-size: small;
    }
}
button:hover{
    transform: scale(1.03);
    box-shadow: 3px 5px 10px rgba(0,0,0);
}

